.verified {
	color:#3D9140;
	font-size: 12px;
    line-height: 16px;
}
.unverified {
	color:#B13E0F;
	font-size: 12px;
    line-height: 16px;
}

.currentTrack {
	display: inline;
}

.ipfshash {
	color: #999;
	display: inline;
}

audio {
	display:block;
}

.now-playing {
	background-color: #99CDC9;
	color:#fff;
	padding:20px;
}

.site-title, .balance {
	display: inline;
}

.track-item {
	background-color: #D2ECF1; 
	padding: 10px;
	padding-left: 20px;
}

.track-item:hover {
	background-color: #E2ECF1; 
}

.track-item a, a:hover, a:visited, a:link, a:active {
    color: #FFFFFF;
    text-decoration: none;
}

.artist {
	color:#000;
	font-size: 12px;
    line-height: 16px;
}

.title {
	color:#11545F;
	font-size: 0.5rem;
    line-height: 1.2;
}

body {
	font-family: sans-serif;
}

.jumbotron {
	background-color:#99CDC9;
}

.jumbotron h1 {word-wrap: break-word;}

.top-buffer { 
	margin-top:20px; 
}

.verified {
	color:#3D9140;
	font-size: 12px;
    line-height: 16px;
}
.unverified {
	color:#999;
	font-size: 12px;
    line-height: 16px;
}

.captcha-square {
	background-color:#99CDC9;
	padding:20px;
	color:white;
}





html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}



.container .text-muted {
  /*margin: 20px 0;*/
}


.footer-artist {
	color:#11545F;
	font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 0px;
}

.footer-title {
	color:#11545F;
	font-size: 1rem;
	margin-bottom: 0px;
    /*line-height: 1.2;*/
}

.footer-audio {
	padding: 15px;
}

.footer-balance {
	padding: 15px;
}